.div1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
background-repeat: no-repeat;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-size: 100% 100%;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

h5 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  display: inline;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  width: auto;
}
